/Bilet_app/artisan
/Bilet_app/bootstrap/
/Bilet_app/composer.json
/Bilet_app/composer.lock
/Bilet_app/config/
/Bilet_app/database/factories
/Bilet_app/database/seeders
/Bilet_app/database/.gitignore
/Bilet_app/gulp/
/Bilet_app/gulpfile.js
/Bilet_app/package-lock.json
/Bilet_app/package.json
/Bilet_app/phpunit.xml
/Bilet_app/routes/api.php
/Bilet_app/routes/channels.php
/Bilet_app/routes/console.php
/Bilet_app/storage/
/Bilet_app/tests/
/Bilet_app/vendors.json
/Bilet_app/vite.config.j
/Bilet_app/.babelrc
/Bilet_app/.editorconfig
/Bilet_app/.env
/Bilet_app/.env.example
/Bilet_app/.eslintrc
/Bilet_app/.gitattributes
/Bilet_app/.github/
/Bilet_app/.gitignore
/Bilet_app/.prettierignore
/Bilet_app/.styleci.yml
/Bilet_app/CHANGELOG.md
/Bilet_app/README.md
/Bilet_app/vite.config.js

